*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
	font-family: sans-serif;
	width: 100vw;
}

body {
    display: grid; 
    place-content: center; 
	overflow: hidden; 
	background: #F28C28;
}

.flipbook {
    width: 320px;
    height: 451px; 
    max-width: 100vw;
    max-height: 100vh;
}

.flipbook .hard {
    background: #9999aa;
    color: #28282B;
    font-weight: bold;
    border: none; 
}

.flipbook .hard small{
	font-style: italic;
	font-weight: lighter;
	opacity: 0.7;
	font-size: 14px;
}

.flipbook .page {
    background: #FAF9E7;
}

.page img{
	width: 100%;
	height: auto;
	object-fit: fill; 
	margin: 0; 
}
